Add ideas


*   Remove unnecessary hastags from tweets
*   Add unique id to each tweet
*   How to deal with tweets which images/videos/gifs embedded? There are hyperlinks
*   There will be very few words which will be repeated in a tweet so what do we do with the tfidf?

In [0]:
#pip install pyenchant

In [0]:
import pandas as pd
from nltk import wordpunct_tokenize
#import pyenchant

In [0]:
df = pd.read_csv('arsmun.csv')

In [66]:
df.describe()

           retweets     favorites            id
count  37468.000000  37468.000000  3.746700e+04
mean       3.022846      8.696141  1.104800e+18
std      124.392768    284.185485  1.589528e+13
min        0.000000      0.000000  1.104740e+18
25%        0.000000      0.000000  1.104790e+18
50%        0.000000      0.000000  1.104800e+18
75%        0.000000      1.000000  1.104810e+18
max    15449.000000  35876.000000  1.104840e+18

In [0]:
df = df.drop(columns = ['Unnamed: 9', 'Unnamed: 10', 'Unnamed: 12', 'Unnamed: 11', 'Unnamed: 13'])

In [6]:
df.shape

(47000, 9)

In [0]:
# converting the string date to datetime format
df['date'] = pd.to_datetime(df['date'])

### finding duplicate values

In [8]:
df[df['text'].duplicated() == True].shape

(1745, 9)

### removing duplicate values

In [0]:
df = df.drop_duplicates('text', keep='last')

In [0]:
# token to separate words into list
# >>> from nltk import wordpunct_tokenize
# >>> wordpunct_tokenize("That's thirty minutes away. I'll be there in ten.")
# ['That', "'", 's', 'thirty', 'minutes', 'away', '.', 'I', "'", 'll', 'be', 'there', 'in', 'ten', '.']

In [0]:
# to check if word is in english
# >>> import enchant
# >>> d = enchant.Dict("en_US")
# >>> d.check("Hello")
# True
# >>> d.check("Helo")
# False
# >>> d.suggest("Helo")
# ['He lo', 'He-lo', 'Hello', 'Helot', 'Help', 'Halo', 'Hell', 'Held', 'Helm', 'Hero', "He'll"]

In [12]:
df[df['text'] == '#ARSMUN via @premierleague http://www. premierleague.com/match/38598']

,date,retweets,favorites,text,geo,mentions,hashtags,id,permalink
46881,2019-03-10 09:13:00,0,0,#ARSMUN via @premierleague http://www. premier...,NaN,@premierleague,#ARSMUN,1.104750e+18,https://twitter.com/PetrusP30565974/status/110...

In [0]:
# remove records which have no tweets
df = df[df['text'].notnull()]

In [0]:
# remove records which have no tweets
df = df[df['permalink'].notnull()]

In [15]:
df.shape

(37468, 9)

### creating a new dataframe for arsenal

In [0]:
# filtering data for Arsenal dataset
arsenal = df[df['text'].str.contains('Arsenal')]
ozil = df[df['text'].str.contains('Ozil')]
auba = df[df['text'].str.contains('Auba')]
emery = df[df['text'].str.contains('Emery')]
xhaka = df[df['text'].str.contains('Xhaka')]
emirates = df[df['text'].str.contains('Emirates')]
gunner = df[df['text'].str.contains('Gunner')]
leno = df[df['text'].str.contains('Leno')]
afc = df[df['text'].str.contains('#AFC')]

In [0]:
df_arsenal = pd.concat([arsenal, auba, ozil, emery, xhaka, emirates, gunner, leno, afc], ignore_index=True)

In [18]:
# checking the number of duplicates
df_arsenal[df_arsenal['text'].duplicated() == True].shape

(2657, 9)

In [19]:
df_arsenal.shape

(14689, 9)

In [0]:
# drop duplicates
df_arsenal = df_arsenal.drop_duplicates('text', keep='last')

### creating a new dataframe for united

In [0]:
united = df[df['text'].str.contains('United')]
ole = df[df['text'].str.contains('Ole')]
manchester = df[df['text'].str.contains('Manchester')]
de_gea = df[df['text'].str.contains('De Gea')]
lukaku = df[df['text'].str.contains('Lukaku')]
rashford = df[df['text'].str.contains('Rashford')]
pogba = df[df['text'].str.contains('Pogba')]
mufc = df[df['text'].str.contains('#MUFC')]
ggmu = df[df['text'].str.contains('GGMU')]
fred = df[df['text'].str.contains('Fred')]

In [0]:
df_united = pd.concat([united, ole, manchester, de_gea, lukaku, rashford, pogba, mufc, ggmu, fred], ignore_index=True)

In [23]:
# checking the number of duplicates
df_united[df_united['text'].duplicated() == True].shape

(4295, 9)

In [0]:
# drop duplicates
df_united = df_united.drop_duplicates('text', keep='last')

In [25]:
df_united.shape

(10247, 9)

In [0]:
df.to_csv('modified.csv')

In [27]:
df[df['text'].str.contains('Gooner')].shape

(187, 9)

In [0]:
temp = pd.concat([df_arsenal, df_united], ignore_index=True)

In [0]:
temp = temp.drop_duplicates('text', keep='last')

In [0]:
dif = df[(~df.text.isin(temp.text))]

In [0]:
dif.to_csv('dif.csv')

### separating tweets word by word and assigning tweet id for arsenal

In [0]:
df_arsenal['tid'] = df_arsenal.index + 1

In [0]:
# token to separate words into list
# from nltk import wordpunct_tokenize
# >>> wordpunct_tokenize("That's thirty minutes away. I'll be there in ten.")
# ['That', "'", 's', 'thirty', 'minutes', 'away', '.', 'I', "'", 'll', 'be', 'there', 'in', 'ten', '.']

l_arsenal = []
for i in df_arsenal['text']:
  l_arsenal.append(wordpunct_tokenize(i))

In [0]:
total_arsenal = []
count = 0
list_tweet_id = []
word = []
for i in l_arsenal:
    c = len(i)
    count += 1
    t = 'T'+str(count)
    word.append(t)
    total_arsenal += i
    list_tweet_id.append(c * word)
    word = []

In [0]:
check = []
for i in list_tweet_id:
    check += i

In [110]:
len(total_arsenal)

286322

In [111]:
len(check)

286322

In [0]:
words_arsenal = pd.DataFrame(columns = ['words','id'])
words_arsenal['words'] = total_arsenal
words_arsenal['id'] = check

In [119]:
words_arsenal.head()

       words  id
0     Romelu  T1
1     Lukaku  T1
2    spotted  T1
3  somewhere  T1
4         in  T1

In [0]:
csv_words_arsenal = words_arsenal.groupby('words').size().sort_values(ascending = False)
csv_words_arsenal.to_csv('words_arsenal.csv')

### calculate TFIDF

In [0]:
# calculates the number of times that a term appears in each abstract. 
words_arsenal.groupby(['words','id']).size()

In [0]:
# counts the number of articles in which a term appears
words_arsenal.groupby(['id','words']).size()

### separating tweets word by word and assigning tweet id for united

In [0]:
# token to separate words into list
# from nltk import wordpunct_tokenize
# >>> wordpunct_tokenize("That's thirty minutes away. I'll be there in ten.")
# ['That', "'", 's', 'thirty', 'minutes', 'away', '.', 'I', "'", 'll', 'be', 'there', 'in', 'ten', '.']

l_united = []
for i in df_united['text']:
  l_united.append(wordpunct_tokenize(i))

In [0]:
total_united = []
count = 0
list_tweet_id = []
word = []
for i in l_united:
    c = len(i)
    count += 1
    t = 'T'+str(count)
    word.append(t)
    total_united += i
    list_tweet_id.append(c * word)
    word = []

In [0]:
check = []
for i in list_tweet_id:
    check += i

In [0]:
words_united = pd.DataFrame(columns = ['words','id'])
words_united['words'] = total_united
words_united['id'] = check

In [0]:
csv_words_united = words_united.groupby('words').size().sort_values(ascending = False)
csv_words_united.to_csv('words_united.csv')

### calculate TFIDF (United)

In [141]:
# calculates the number of times that a term appears in each abstract. 
words_united.groupby(['words','id']).size()

words  id
!      T10002     1
       T10012     1
       T10025     3
       T10030     1
       T1004      1
       T10040     1
       T10042     1
       T10045     1
       T10047     1
       T10049     1
       T1005      1
       T10050     1
       T10064     1
       T10073     2
       T10074     1
       T10075     1
       T10076     1
       T10098     1
       T1012      1
       T10127     1
       T10129     1
       T10137     1
       T10139     1
       T10144     1
       T10147     1
       T10150     1
       T10162     1
       T10165     1
       T10166     2
       T10170     1
                 ..
≥      T8526      2
       T9174      1
       T9292      2
       T9320      3
       T9383      3
       T9625      2
≥‚     T3630      3
       T3677      2
       T3842      2
       T3865      2
       T8017      3
       T8018      3
       T8019      3
       T8183      3
≥„     T10038     1
       T2604      1
       T6870      1
       T6923      1
       T7119      1
       T7455      1
       T7657      2
       T8143      1
       T8229      1
       T8403      1
       T8411      2
       T8484      1
       T8545      1
≥€     T7590      1
      T3616     20
       T3835     20
Length: 201287, dtype: int64

In [0]:
# counts the number of articles in which a term appears
words_united.groupby(['id','words']).size()